@media (max-width: 1605px) {
  .no_tasks_found {
    width: 90%;
  }
}

@media (max-width: 1575px) {
  .noTask_msg {
    width: 90%;
  }
}

@media (max-width: 1560px) {
  .board_header {
    padding-left: 30px !important;
  }

  .board_content {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 1520px) {
  .ticket {
    width: 250px;
  }

  .toDo_header h2,
  .inProgress_header h2,
  .awaitFeedback_header h2,
  .done_header h2 {
    font-size: 20px;
    padding-left: 20px;
  }
}

@media (max-width: 1400px) {
  .toDo_header h2,
  .inProgress_header h2,
  .awaitFeedback_header h2,
  .done_header h2 {
    padding-left: 15px;
  }
}

@media (max-width: 1350px) {
  .ticket {
    width: 230px;
  }
}

@media (max-width: 1310px) {
  .toDo_header h2,
  .inProgress_header h2,
  .awaitFeedback_header h2,
  .done_header h2 {
    padding-left: 10px;
  }
}

@media (max-width: 1260px) {
  .ticket {
    width: 220px;
  }

  .no_tasks_found {
    width: 80%;
  }
}

@media (max-width: 1220px) {
  .ticket {
    width: 200px;
  }

  .toDo_header h2,
  .inProgress_header h2,
  .awaitFeedback_header h2,
  .done_header h2 {
    font-size: 20px;
  }
}

@media (max-width: 1200px) {
  .active_span::before {
    background-color: transparent;
    color: #4589ff !important;
    content: url("../assets/icons/board_icon_blue.png");
    margin-right: 0;
  }

  .active_span {
    flex-direction: column;
  }

  .main_wrapper {
    width: calc(100% - 0px) !important;
  }

  .board_header {
    padding-left: 50px !important;
  }

  .board_content {
    padding-left: 16px;
    padding-right: 16px;
  }

  .ticket {
    width: 250px;
  }
}

@media (max-width: 1140px) {
  .board_header {
    padding-left: 30px !important;
  }

  .board_content {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 1100px) {
  .board_header {
    padding-left: 20px !important;
  }

  .board_content {
    padding-left: 20px;
    padding-right: 20px;
  }

  .ticket {
    width: 230px;
  }
}

@media (max-width: 1000px) {
  .ticket {
    width: 210px;
  }
}

@media (max-width: 920px) {
  .ticket {
    width: 200px;
  }
}

@media (max-width: 880px) {
  .board_header {
    padding-left: 10px !important;
  }

  .board_content {
    padding-left: 10px;
    padding-right: 10px;
  }

  .ticket {
    width: 190px;
  }
}

@media (max-width: 900px) {
  .noTask_msg {
    width: 80%;
  }
}

@media (max-width: 820px) {
  .board_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    flex: 1;
  }

  .toDo,
  .inProgress,
  .awaitFeedback,
  .done {
    width: unset;
  }

  .inProgress,
  .awaitFeedback,
  .done {
    margin-top: 20px;
  }

  .ticket {
    width: 250px;
    flex-shrink: 0;
  }

  .drag_area {
    width: auto;
    min-height: 200px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-left: 10px;
    padding-right: 10px;
    overflow-x: auto;
    gap: 10px;
  }

  .toDo_content,
  .inProgress_content,
  .awaitFeedback_content,
  .done_content {
    overflow-x: auto;
  }

  .drag_area::-webkit-scrollbar {
    height: 8px;
    background-color: #e0e0e0;
    border-radius: 10px;
  }

  .drag_area::-webkit-scrollbar-thumb {
    background-color: #4589ff;
    border-radius: 4px;
  }

  .drag_area::-webkit-scrollbar-thumb:hover {
    cursor: grab;
  }

  .drag_area::-webkit-scrollbar-thumb:hover:active {
    cursor: grabbing;
  }

  .drag_area::-webkit-scrollbar-thumb:hover {
    background-color: #005dff;
  }

  .noTask_msg {
    width: 100%;
  }

  .no_tasks_found {
    width: 100%;
  }

  .ticket_category img {
    display: flex;
  }
}

@media (max-width: 705px) {
  .board_header {
    padding-left: 20px !important;
  }
}

@media (max-width: 590px) {
  .drag_area::-webkit-scrollbar {
    display: none;
  }

  .board_content {
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .board_content::-webkit-scrollbar {
    display: none;
  }
}

@media (max-width: 500px) {
  .priorityEdit_buttons {
    flex-direction: column;
    gap: 1px;
  }

  .ticketEdit_overlay {
    max-width: 100%;
    width: 100%;
    overflow: auto;
  }
}

@media (max-width: 350px) {
  .title_add_task {
    font-size: 20px !important;
  }
}
