@font-face {
  font-family: Inter;
  src: url("../assets/fonts/inter/interVariableFont.ttf");
  font-weight: 100 900;
}

* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.content {
  display: flex;
  max-width: 1920px;
  height: calc(100vh - 96px);
}

.main_wrapper {
  width: 100%;
  display: flex;
}

.contact_bar {
  overflow: hidden auto;
  padding: 0 0 32px 16px;
  box-shadow: 4px 0 6px 0 #00000014;
  width: 456px;
}

.contacts_list {
  flex: 1;
  padding: 0 24px;
}

.letter-header {
  padding: 17px 36px;
  font-size: 18px;
  background-color: var(--secondaryColor);
}

.border_container {
  padding: 7.5px 0;
  box-sizing: border-box;
}

.seperator {
  border: none;
  height: 1px;
  border-radius: 3px;
  background-color: #d1d1d1;
}

.contact {
  display: flex;
  align-items: center;
  padding: 15px 24px;
  border-radius: 10px;
  box-sizing: border-box;
  column-gap: 35px;
  cursor: pointer;
}

.contact:hover {
  background-color: var(--menuHoverColor);
}

.avatar {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 12px;
  border: 2px solid var(--secondaryColor);
  font-family: Inter, sans-serif;
}

.contact-info {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.contact-info .contact-name {
  font-size: 19px;
}

.contact-info .contact-email {
  color: var(--primaryColor);
}

.contact-info-wrapper {
  width: 0%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transform: translateX(100%);
}

.contact-header {
  display: flex;
  align-items: center;
  column-gap: 54px;
}

.circle-wrapper {
  position: relative;
  width: 126px;
  height: 126px;
  box-shadow: 0px 0px 4px 0px #00000029;
  border-radius: 50%;
  background: white;
  border: 3px solid white;
  z-index: 1;
}

.circle-add-contact {
  background-color: var(--placeholderColor);
}

.inner-circle {
  position: absolute;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  z-index: 10;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 47px;
  font-weight: 500;
  font-family: Inter, sans-serif;
}

.contact-main-info {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.contact-actions {
  display: flex;
  column-gap: 16px;
}

.contact-detail-section {
  padding-top: 21px;
  display: flex;
  row-gap: 22px;
  flex-direction: column;
}

.contact-detail-section h3 {
  font-size: 23px;
  font-weight: bold;
}

.contact-field {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.label {
  font-weight: bold;
  margin: 0 0 4px;
}

.email-link {
  color: #005dff;
  text-decoration: none;
}

.contact-main-info > .contact-name {
  font-family: Inter, sans-serif;
  font-weight: 500;
  font-size: 47px;
  line-height: 1.2;
}

.contact.selected {
  color: var(--secondaryColor);
  background-color: var(--primaryColor);
  border-color: #0056b3;
}

.contact.selected .contact-email {
  color: var(--secondaryColor);
}

.content-wrapper {
  max-width: 1920px;
  margin: 0;
  position: relative;
}

label,
legend {
  height: 23px;
  font-size: 19px;
  font-weight: 700;
}

label span {
  color: #42526e;
}

.header_headline {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  row-gap: 12px;
}

.slide-in {
  animation: slideRight 0.125s ease-in-out forwards;
  width: 100%;
}

.name-icon {
  color: white;
  height: 42px;
  width: 42px;
  font-size: 12px;
  background-color: orange;
  border-radius: 45px;
  border: 2px solid white;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 24px;
  box-sizing: border-box;
}

::placeholder {
  color: #d1d1d1;
}

label > span {
  font-weight: 400;
}

.placeholder-container {
  height: 48px;
}

.header-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-circle {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  font-family: Inter, sans-serif;
  font-size: 47px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--secondaryColor);
}

.overlay-profile-sec {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 22px 0 32px;
}

.contact-circle > img {
  height: 100%;
  width: auto;
  object-fit: contain;
}

.input_container {
  display: flex;
  justify-content: space-between;
  position: relative;
  flex-direction: column;
  row-gap: 4px;
}

.input_container input {
  width: 100%;
  padding: 12px 45px 12px 21px;
  font-size: 19px;
  border-bottom: 1px solid #d1d1d1;
  max-height: 48px;
}

.input_container input:focus {
  border-color: var(--lightBlue);
}

.input-person {
  background-image: url("../assets/icons/person_gray.svg");
  background-position: right 21px center;
  background-size: 24px 24px;
  background-repeat: no-repeat;
}

.input-email {
  background-image: url("../assets/icons/mail_gray.svg");
  background-position: right 21px center;
  background-size: 24px 24px;
  background-repeat: no-repeat;
}

.input-call {
  background-image: url("../assets/icons/call_gray.svg");
  background-position: right 21px center;
  background-size: 24px 24px;
  background-repeat: no-repeat;
}

.input_container input::placeholder {
  color: #d1d1d1;
}

input {
  border: none;
  outline: none;
  font-size: 19px;
  font-family: "Open Sans", sans-serif;
  /* max-height: 24px; */
}

input::placeholder {
  color: #d1d1d1;
}

input.error {
  border-bottom: 2px solid rgba(255, 0, 0, 0.534);
}

#error_msg {
  color: rgba(255, 0, 0, 0.534);
  position: absolute;
  bottom: -20px;
  left: 0;
  font-size: 12px;
  display: none;
}

.edit-overlay {
  box-shadow: var(--boxShadowNuevo);
  position: fixed;
  top: 0;
  left: 0;
  width: 584px;
  height: 100dvh;
  background: white;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
  border-radius: 0 30px 30px 30px;
  overflow-y: auto;
}

.edit-overlay.slide-in {
  animation: slideLeft 0.125s ease-in forwards;
}

.overlay-header {
  border-radius: 0 30px 0 0;
  background-color: #005dff;
  color: var(--secondaryColor);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  position: relative;
  padding: 108px 46px;
  gap: 12px;
  height: 373px;
}

.overlay-header-logo {
  height: 66.48px;
  width: auto;
}

.overlay-header-headline {
  font-size: 48px;
}

.overlay-header-row {
  display: flex;
}

.overlay-header-row-right {
  justify-content: right;
  align-items: center;
}

.overlay-header-row-center {
  justify-content: center;
}

.overlay-content {
  display: flex;
  flex-direction: column;
  max-width: 422px;
  margin: 0 auto;
}

.overlay-content-row {
  display: flex;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 584px;
  height: 100dvh;
  background: white;
  transform: translateX(100%);
  transition: transform 125ms ease-in-out;
  z-index: 1000;
  flex-direction: column;
  box-shadow: 0px 0px 4px 0px #00000029;
  overflow-y: auto;
}

.direction-column {
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.sub-headline {
  font-size: 27px;
}

.contact-circle img {
  height: 64px;
  width: 64px;
}

.overly-bg {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 1000;
  display: none;
}

.overly-add-contact {
  border-radius: 30px 0 30px 30px;
}

.overlay-add-contact-header {
  padding: 91px 46px;
  border-radius: 30px 0 0 0;
}

.overlay-contact-successfully-created {
  box-shadow: 0px 0px 4px 0px #00000026;
  border-radius: 20px;
  background-color: var(--primaryColor);
  color: var(--secondaryColor);
  display: flex;
  position: fixed;
  padding: 23px 17px;
  left: 50%;
  transform: translate(-50%, 0%);
  align-items: center;
  justify-content: center;
  font-size: var(--fontSize-5);
  transition: all 125ms ease-in-out;
  z-index: 1000;
  bottom: -50%;
}

.overly-move-up {
  transform: translate(-50%, 50%);
  bottom: 50%;
}

.active_span:before {
  content: url("../assets/icons/contacts_icon.png");
  background-color: var(--menuHoverColor);
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
  align-items: center;
  gap: 8px;
}

.active_span {
  display: flex;
  align-items: center;
}

.contact-info-wrapper.slide-in {
  padding: 72px 0 0 62px;
  flex: 1;
  background-color: var(--secondaryColor);
}

.contact-title-row > h3 {
  font-size: 23px;
}

.contact-title-row {
  padding: 21px 0;
  width: auto;
}

.btn-detail-actions {
  display: none;
}

.error-message {
  color: #ff8190;
  font-size: 20px;
  font-family: "Inter", sans-serif;
}

@media screen and (max-width: 1300px) {
  .overlay-profile-sec {
    position: absolute;
    top: 320px;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 0;
    z-index: 100;
  }

  .overlay-header {
    position: relative;
  }

  .overlay-content {
    padding-top: 92px;
  }

  .main_wrapper {
    overflow-x: hidden;
  }
}

@media screen and (max-width: 1200px) {
  .content {
    flex-direction: unset !important;
    height: unset !important;
  }

  .contact_bar {
    box-shadow: unset;
  }

  .content {
    height: calc(100vh - 96px - 77.38px);
  }

  .active_span::before {
    background-color: transparent;
    color: #4589ff !important;
    content: url("../assets/icons/contacts_icon_blue.png");
    margin-right: 0;
  }

  .active_span {
    flex-direction: column;
  }

  .contact_bar {
    padding-left: 0;
  }

  .btn-container {
    position: fixed;
    top: unset;
    right: 24px;
    background-color: transparent;
    padding: 0;
    bottom: 100px;
    z-index: 0;
  }

  .btn-add-contact {
    min-width: unset;
  }

  .btn-add-contact > span {
    display: none;
  }

  .contact_bar {
    padding-bottom: 184px;
  }

  .header {
    position: sticky;
    top: 0;
    z-index: 1000;
  }

  .contact-detail {
    position: fixed;
    top: 96px;
    right: 0;
    width: calc(100% - 456px);
    padding-top: 144px;
    padding-left: 24px;
  }

  .btn-add-contact {
    width: 64px;
    height: 64px;
  }
}

@media screen and (max-width: 920px) {
  .slide-in {
    right: 0;
    bottom: 0;
  }

  .contact-info-wrapper .circle-wrapper {
    width: 86px;
    height: 86px;
  }

  .contact-info-wrapper .inner-circle {
    width: 80px;
    height: 80px;
    font-size: 27px;
  }

  .contact-info-wrapper .contact-name {
    font-weight: 400;
    font-size: 33px;
    padding-left: 20px;
  }

  .contact-info-wrapper .contact-header {
    column-gap: 0;
  }

  .contact-title-row > h3 {
    font-size: 19px;
    padding-top: 0;
  }

  .contact-actions {
    flex-direction: column;
    row-gap: 20px;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0 4px 4px 0 #00000040;
    width: 116px;
    height: 100px;
    background-color: var(--secondaryColor);
    position: absolute;
    bottom: 24px;
    right: 0px;
    z-index: 10;
    transform: translateX(100%);
    opacity: 0;
  }

  .actions-show {
    animation: slideRight 0.125s ease-in-out forwards;
    right: 24px;
  }

  .overlay {
    border-radius: 30px;
  }

  .btn-cancel {
    display: none;
  }

  .contact-info-wrapper.slide-in {
    margin: unset;
    position: fixed;
    background-color: white;
    top: 96px;
    height: calc(100dvh - 96px - 76px);
    z-index: 20;
    padding: 64px 16px;
  }

  .contact-title-row {
    order: -1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
  }

  .arrow-left {
    display: flex;
    height: 32px;
    width: 32px;
  }

  .arrow-left::after {
    content: url("../assets/icons/arrow_left.svg");
    width: 32px;
    height: 32px;
  }

  .arrow-left:hover::after {
    content: url("../assets/icons/arrow_left_hover.svg");
    width: 32px;
    height: 32px;
  }

  .btn-detail-actions {
    min-width: unset;
    position: absolute;
    bottom: 24px;
    right: 24px;
    width: 64px;
    height: 64px;
    display: flex;
  }

  .btn-detail-actions.d-none {
    display: none;
  }

  .btn-detail-actions img {
    width: 32px;
    height: 32px;
  }
}

@media screen and (max-width: 620px) {
  .contact-circle {
    height: 80px;
    width: 80px;
  }

  .overlay-header {
    border-radius: 30px 30px 0 0;
  }

  .circle-wrapper {
    height: 86px;
    width: 86px;
  }

  .inner-circle {
    height: 80px;
    width: 80px;
  }

  .overlay-content {
    padding: 58px 8px 8px;
  }

  .overlay-header {
    padding-inline: 0;
  }

  .sub-headline {
    font-size: 21px;
  }

  .overlay-profile-sec {
    top: 336px;
  }

  .overlay.slide-in,
  .edit-overlay.slide-in {
    top: 16px;
    bottom: 16px;
    left: 16px;
    right: 16px;
    width: auto;
    height: auto;
    border-radius: 30px;
    padding: 0;
  }

  .overlay-footer {
    padding: 0;
  }
}

@media screen and (max-width: 540px) {
  .header-logo {
    position: absolute;
    top: 24px;
    left: 0;
    right: 0;
  }

  .overlay-header-headline {
    font-size: 37px;
  }

  .sub-headline {
    font-size: 18px;
  }

  .overlay-header {
    height: 230px;
  }

  .overlay-footer {
    flex-direction: column-reverse;
    row-gap: 8px;
  }

  .overlay-profile-sec {
    top: 187px;
  }

  .overlay {
    position: fixed;
    top: 0;
    right: unset;

    width: 584px;
    height: 100vh;
    background: white;
    transform: translateX(1000%);
    transition: transform 125ms ease-in-out;
    z-index: 1000;
    flex-direction: column;
    box-shadow: 0px 0px 4px 0px #00000029;
    left: 1450px;
  }

  .overlay-footer .btn-delete,
  .btn-check {
    min-height: unset;
  }
}

@media screen and (min-width: 1921px) {
  .overlay-header {
    border-radius: 30px 30px 0 0;
  }

  .overlay.slide-in,
  .edit-overlay.slide-in {
    left: 50%;
    top: 50%;
    height: auto;
    transform: translate(-50%, -50%) !important;
  }
}

.d-none {
  display: none;
}

.modal {
  overflow: hidden;
}

.d-flex {
  display: flex;
}
