body {
  min-height: 100vh;
  max-width: 1920px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

#login_top {
  display: flex;
  justify-content: space-between;
  padding: 64px;
  align-items: center;
  height: 64px;
}

.join_logo {
  background-image: url(../assets/icons/favicon.png);
  background-repeat: no-repeat;
  background-color: white;
  background-position: center;
  width: 100.03px;
  height: 121.97px;
  transition: all 0.8s ease-in-out;
  position: absolute;
  z-index: 999;
  left: 64px;
  top: 64px;
}

.join_logo_start {
  background-image: url(../assets/icons/join_icon_white.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100vh;
  background-color: #4589ff;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  display: flex;
  transition: all 0.8s ease-in-out;
}

#to_signup {
  justify-content: flex-end;
  display: flex;
  width: 60%;
  gap: 40px;
  align-items: center;
  font-size: 20px;
  position: absolute;
  top: 104px;
  right: 64px;
}

button {
  background-color: #4589ff;
  color: #ffffff;
  border: none;
  padding: 12px;
  border-radius: 8px;
  font-size: 20px;
}

button:hover {
  background-color: rgb(64, 80, 224);
  transform: translateY(-2%);
  cursor: pointer;
}

#main {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  flex-grow: 1;
}

#login_border {
  border: 1px solid #d3d3d3a1;
  border-radius: 16px;
  box-shadow: 0px 0px 16px 2px rgba(151, 150, 150, 0.3);
  height: 20%;
  margin-top: 4%;
}

#login_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 104px;
}

#login_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.input_container {
  position: relative;
  display: inline-block;
}

.input_container input {
  padding-right: 30px;
  font-size: 24px;
}

.input_icon_email {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  height: auto;
  width: 18px;
}

.input_icon_password {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-70%);
  cursor: pointer;
  height: auto;
  width: 18px;
}

#login_container h2 {
  text-decoration: underline 3px #4589ff;
  text-underline-offset: 16px;
  font-size: 40px;
  padding-bottom: 40px;
}

input {
  border: none;
  border-bottom: 2px solid #d3d3d3;
  outline: none;
  padding: 5px;
  font-size: 16px;
}

::placeholder {
  color: #d3d3d3;
  opacity: 1;
}

input.error {
  border-bottom: 2px solid rgb(255 0 0);
}

#error_msg {
  color: rgb(255 0 0);
  position: absolute;
  bottom: -20px;
  left: 0;
  font-size: 14px;
  display: none;
}

#login_buttons {
  display: flex;
  gap: 24px;
}

#guest_button {
  border: 1px solid grey;
  background-color: #ffffff;
  color: gray;
}

#guest_button:hover {
  color: #4589ff;
  transform: translateY(-2%);
  border: 1px solid #4589ff;
}

#bottom_bar {
  width: 100%;
  height: 40px;
  padding-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  font-size: 16px;
}

.nav_link {
  text-decoration: none;
  color: rgb(94, 91, 91);
}

.nav_link:hover {
  color: #4589ff;
  cursor: pointer;
}

@media (max-width: 900px) {
  #login_buttons {
    flex-direction: column;
  }

  #login_top {
    padding: 40px;
  }

  #login_border {
    margin-top: 10%;
  }
}

@media (max-width: 520px) {
  #login_container {
    padding: 16px 32px;
  }

  #to_signup {
    top: unset;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    justify-content: center;
  }

  .input_container input {
    padding-right: 0;
    font-size: 18px;
  }

  #bottom_bar {
    padding-bottom: 16px;
  }

  #login_top {
    padding: 0px;
  }

  .join_logo {
    width: 48px;
    background-size: contain;
    height: 60px;
    top: 12px;
    left: 24px;
  }

  #to_signup {
    font-size: 16px;
  }

  button {
    font-size: 16px;
  }

  #error_msg {
    bottom: -34px;
  }

  #login_buttons {
    display: flex;
    gap: 12px;
  }

  #login_container {
    padding: 4px 16px;
  }
}
