.main_wrapper {
  justify-content: center;
  align-items: center;
  width: 100%;
  display: flex;
}

a {
  text-decoration: none;
  color: black;
}

.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.dashboard h2 {
  font-size: 48px;
  margin-bottom: 72px;
}

.user-name {
  color: #4589ff;
}

.stats {
  display: flex;
  flex-direction: column;
  gap: 35px;
  width: 912px;
  height: 442px;
}

#signup_button_activate {
  pointer-events: none;
}

.urgent-tasks {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
  border: 1px solid #f0f0f0;
  box-shadow: 0px 0px 2px 0px rgba(151, 150, 150, 0.3);
  background-color: #4589ff;
  color: white;
  border-radius: 30px;
  width: 672px;
  height: 191px;
  font-size: 23px;
  transition: width 0.1s ease-in-out, height 0.1s ease-in-out,
    font-size 0.1s ease-in-out;
  position: absolute;
  left: 0;
}

.urgent-tasks:hover {
  background-color: white;
  color: #4589ff;
  width: 688px;
  height: 207px;
  font-size: 28px;
  border-radius: 0px 30px 30px 30px;
  cursor: pointer;
}

.urgent-tasks:hover .divider {
  background-color: #4589ff;
}

.urgent-tasks h3 {
  font-size: 48px;
  transition: all 0.3s ease-in-out;
}

.urgent-tasks:hover h3 {
  font-size: 58px;
}

.urgent-tasks h4 {
  font-size: 33px;
  margin-bottom: 13px;
  transition: all 0.3s ease-in-out;
}

.urgent-tasks:hover h4 {
  font-size: 43px;
}

.urgent-tasks-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.urgent-tasks:hover .summary_icon {
  width: 86px;
  height: 86px;
}

.divider {
  height: 145px;
  background-color: white;
  width: 4px;
  border-radius: 8px;
}

.task-overview-top {
  min-height: 192px;
  position: relative;
}

#in-board {
  width: 208px;
  height: 191px;
  position: absolute;
  right: 0;
}

#in-board:hover {
  width: 271px;
  height: 207px;
  border: none;
}

.task-overview-bottom {
  display: flex;
  justify-content: space-between;
  min-height: 216px;
}

.task-card {
  border: 1px solid #f0f0f0;
  box-shadow: 0px 0px 2px 0px rgba(151, 150, 150, 0.3);
  border-radius: 30px;
  text-align: center;
  width: 204px;
  height: 219px;
  gap: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: width 0.1s ease-in-out, height 0.1s ease-in-out,
    font-size 0.1s ease-in-out;
}

.task-card:hover {
  border-radius: 0px 30px 30px 30px;
  color: white;
  width: 220px;
  height: 235px;
  background-color: #005dff;
}

.task-card.transitioning {
  border: none;
}

.task-card:hover h3 {
  font-size: 58px;
}

.task-card:hover p {
  font-size: 28px;
  color: white;
}

.task-card:hover .summary_icon {
  width: 86px;
  height: 86px;
}

.task-card h3 {
  margin: 0;
  font-size: 48px;
}

.task-card p {
  margin: 0;
  color: #4589ff;
  font-size: 23px;
}

.summary_icon {
  height: 76px;
  width: 76px;
  transition: all 0.3s ease-in-out;
  border-radius: 50%;
  border: 3px solid white;
}

.task-card-head {
  display: flex;
  align-items: center;
  gap: 8px;
}

.to-do {
  background-color: #d2e2ff;
  position: absolute;
  z-index: 900;
}

.to-do:hover {
  width: 271px;
  height: 207px;
  background-color: white;
  color: #4589ff;
}
.to-do:hover p {
  color: #4589ff;
}

.icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 56px;
  background-color: white;
  border-radius: 50%;
}

.icon-wrapper:hover {
  cursor: pointer;
}

.task-overview-left {
  display: flex;
  position: relative;
  width: 48.5%;
}

.task-overview-right {
  display: flex;
  position: relative;
  width: 48.5%;
}

.active_span:before {
  content: url("../assets/icons/summary_icon.png");
  background-color: var(--menuHoverColor);
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
  align-items: center;
  gap: 8px;
}

.active_span {
  display: flex;
  align-items: center;
}

.progress {
  position: absolute;
  right: 0;
}

.feedback {
  position: absolute;
}

.done {
  position: absolute;
  right: 0;
}

.content {
  display: flex;
  width: 100%;
  max-width: 1920px;
  height: calc(100vh - 96px);
}

.greet {
  font-weight: 300;
}

.user-greeting {
  transition: all 2s;
  z-index: -1;
}

.greet_transition {
  height: 0 !important;
  position: relative;
  top: -120px;
}

@media (max-width: 1200px) {
  .active_span::before {
    background-color: transparent;
    color: #4589ff !important;
    content: url("../assets/icons/summary_icon_blue.svg");
    margin-right: 0;
    height: 24px;
    width: 24px;
  }

  .active_span {
    gap: 4px;
    flex-direction: column;
  }

  .main_wrapper {
    height: 80vh;
  }
}

@media (max-width: 910px) {
  .main_wrapper {
    height: unset;
  }

  .user-greeting {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
  }

  .task-overview-top {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
  }

  .task-overview-bottom {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .task-overview-left {
    width: 100%;
    position: absolute;
    height: 100%;
    justify-content: center;
  }

  .task-overview-right {
    width: 100%;
    position: absolute;
    height: 100%;
  }

  .divider {
    height: 124px;
  }

  .stats {
    position: relative;
    height: 632px;
    width: 100%;
    margin-bottom: 80px;
    padding-top: 60px;
    padding-bottom: 80px;
  }

  .urgent-tasks {
    width: 96%;
    top: 0%;
    height: 150px;
    left: 50%;
    transform: translate(-50%);
    z-index: 998;
  }

  .to-do {
    top: 26%;
    width: 96%;
    flex-direction: unset;
    height: 106px !important;
    z-index: 998;
  }

  #in-board {
    top: 45%;
    left: 2%;
    height: 152px;
    width: 45%;
    z-index: 998;
  }

  .progress {
    top: 45%;
    right: 2%;
    width: 45%;
    z-index: 998;
  }

  .feedback {
    top: 70%;
    left: 2%;
    width: 45%;
    z-index: 998;
  }

  .done {
    top: 70%;
    right: 2%;
    width: 45%;
    z-index: 998;
  }

  .task-card {
    height: 152px;
  }

  .task-card h3 {
    font-size: 40px;
  }

  .task-card p {
    font-size: 19px;
  }

  .urgent-tasks:hover {
    width: 96%;
    height: 150px;
    font-size: 23px;
  }

  .urgent-tasks:hover h3 {
    font-size: 48px;
  }

  .urgent-tasks:hover h4 {
    font-size: 33px;
  }

  .to-do:hover {
    width: 96% !important;
    height: 106px !important;
  }

  .task-card:hover {
    height: 152px;
    width: 45%;
  }

  .task-card:hover p {
    font-size: 19px;
  }

  .task-card:hover h3 {
    font-size: 40px;
  }

  .task-card:hover .summary_icon {
    width: 68px;
    height: 68px;
  }

  #in-board:hover {
    width: 45%;
    height: 152px;
  }
}

@media (max-width: 700px) {
  .dashboard h2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 550px) {
  .urgent-tasks {
    font-size: 16px;
    gap: 24px;
  }

  .urgent-tasks-left {
    font-size: 19px;
  }

  .urgent-tasks h3 {
    font-size: 40px;
  }

  .urgent-tasks h4 {
    font-size: 23px;
  }

  .urgent-tasks:hover h3 {
    font-size: 40px;
  }

  .urgent-tasks:hover h4 {
    font-size: 23px;
  }

  .urgent-tasks:hover {
    font-size: 16px;
  }

  .summary_icon {
    width: 68px;
    height: 68px;
  }
}

@media (max-width: 400px) {
  .summary_icon {
    width: 54px;
    height: 54px;
  }

  .urgent-tasks-left {
    font-size: 16px;
  }

  .urgent-tasks {
    gap: 8px;
  }

  .dashboard h2 {
    font-size: 38px;
  }

  .urgent-tasks-right {
    width: 50%;
  }
}
